[submodule "org-mode"]
	path = org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "todotxt.el"]
	path = todotxt.el
	url = git://github.com/rpdillon/todotxt.el.git
[submodule "magit"]
	path = magit
	url = git://github.com/philjackson/magit.git
[submodule "ace-jump-mode"]
	path = ace-jump-mode
	url = git://github.com/winterTTr/ace-jump-mode.git
[submodule "emacs-jabber"]
	path = emacs-jabber
	url = git://emacs-jabber.git.sourceforge.net/gitroot/emacs-jabber/emacs-jabber
[submodule "yasnippet"]
	path = yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "rinari"]
	path = rinari
	url = git://github.com/eschulte/rinari.git
[submodule "bm"]
	path = bm
	url = git://github.com/joodland/bm.git
[submodule "workgroups.el"]
	path = workgroups.el
	url = git://github.com/tlh/workgroups.el.git
[submodule "emacs-color-theme-solarized"]
	path = emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "sunrise-commander"]
	path = sunrise-commander
	url = git://github.com/escherdragon/sunrise-commander.git
[submodule "helm"]
	path = helm
	url = https://github.com/emacs-helm/helm.git
